/* PC */
@media (min-width: 1024px) {
    #header .mobile-menu-btn{
        display: none;
    }
    .place-list{
        margin-right: 2px;
    }
}
/* Tablet  & mobile*/
@media  (max-width: 1023px) {
    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }

    .social-list{
        font-size: 48px;
    }
    #nav .subnav a {
        padding: 5px 41px;
    }
    #footer .social-list a{
        margin:  0 8px;
    }
    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #header .mobile-menu-btn{
        display: none;
    }
    .contact-info{
        line-height: 2;
    }
}



/* Mobile*/
@media (max-width: 739px) {
    #nav{
        display: block;
    }
    #nav > li {
         display: block; 
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{ 
        color: #fff;
        padding: 1px 24px;
    }
    #header .search-btn{
        display: none;
    }
    #header{
        overflow: hidden;
    }
    #content .member-item1{
        width: 100%;
        margin-top: 30px;
    }
    #content .member-list .member-img{
        width: 60%;
    }
    .s-col-full{
        width:100%;
    }   
    .place-list{
        margin-top: 16px;
        margin-bottom: 60px;
    }
    .contact-form{
        margin-top: 32px;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .s-full-width{
        width: 100%;
    }